{% extends 'base.html.twig' %}

{% block body %}

		{{ form_start(form) }}
		{{ form_row(form.title,{'attr':{'class':'form-control'}}) }}
		{{ form_row(form.content, {'attr': {'class':'summernote'}}) }}
		<br>
		<button type="submit" class="btn btn-primary"> Update</button>
		{{ form_end(form) }}


{% endblock %}


{% block javascripts %}
       	<script type="text/javascript">

				$(document).ready(function() {
				  $('.summernote').summernote(
				  {
				  	height: '300px'
				  }
				  	);
				});

        	</script>
	{% endblock %}
